# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/

# ssh keys
.ssh/*
!.ssh/.placeholder

# generated images
app/images/*
!app/images/.placeholder

# logs
app/log/*
!app/log/.placeholder

# test
test.py
